@mixin button2 {
  background-color: $secondColor !important;
  color: white !important;
  font-weight: bolder !important;
  width: 10em;
  font-size: 1.5em;

  &:hover {
    background-color: $mainColor !important;
    transition: 0.7s;
  }
}
