/* mixins */
@import "icon", "button", "button2";

/* polices */
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap");

/* regles générales */
$mainColor: #061681;
$secondColor: darkgoldenrod;

body {
  //   font-family: "Courier New", Courier, monospace;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;

  .animate-on-scroll {
    /* Définit une opacité initiale de 0 pour les éléments */
    opacity: 0;
    /* Définit une transition d'opacité d'une seconde */
    transition: opacity 1.3s;
  }
  .animate-on-scroll.is-visible {
    /* Définit une opacité de 1 pour les éléments avec la classe 'is-visible' */
    opacity: 1;
  }
  /* Ensemble, ces styles permettent aux éléments d'être rendus
    transparents et de devenir progressivement plus opaques en 1 seconde
    lorsque la classe 'is-visible' est ajoutée. Cela crée un effet
    d'animation pour les éléments. */

  nav p,
  h1,
  footer p,
  .dates,
  h2,
  h3,
  #passion {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  main a :not(.contactLink),
  .btn {
    @include button;
  }

  .blueBackground,
  .carousel-control-prev-icon,
  .carousel-control-next-icon,
  .carousel-indicators {
    background-color: $mainColor;
  }

  .blueText {
    color: $mainColor;
  }

  ul {
    list-style: none;
  }

  h1 {
    font-size: 4.8rem;
    line-height: 1.5em;

    @media screen and (max-width: 1200px) {
      font-size: 2.8rem;
    }

    h2 {
      font-weight: bolder;

      @media screen and (max-width: 1200px) {
        font-size: 1.8rem;
      }
    }
  }

  header {
    nav {
      #photoProfil {
        width: 6vw;
        border-radius: 60px;

        @media screen and (max-width: 767px) {
          width: 25vw;
        }
      }
    }
  }

  main {
    /* hero / grande image */

    #hero {
      background: url(images/aerial-background.jpg);
      background-position: center;
      background-size: cover;
      height: 100vh;
      width: 100vw;

      #heroTexts {
        position: relative;
        top: 45%;
        width: 35%;
        transition: 1.5s;

        h1 {
          transition: 1.5s;
        }

        h1:hover {
          transform: translate(50%, -50%);
          transition: 1.5s;
        }

        @media screen and (max-width: 768px) {
          top: 50%;
        }

        @media screen and (max-width: 1600px) {
          width: 100%;
          left: 0%;
        }

        @media screen and (min-width: 1201px) and (max-width: 1599px) {
          width: 50%;
        }
      }
    }

    /* texte passions */

    #passions {
      p {
        letter-spacing: 5px;

        font-size: 1.3em;
      }

      #numbers {
        font-size: 400%;
        p {
          font-size: 50%;
        }
      }
    }

    /* parcours */

    #parcours {
      img {
        width: 30vw;
        transition: 1s;

        &:hover {
          transform: rotateY(360deg);
          transition: 1s;
        }

        @media screen and (max-width: 767px) {
          width: 80vw;
        }
      }

      .rounded-pill {
        transition: 1s;

        &:hover {
          transform: scale(1.1);
          background-color: $secondColor;
          transition: 1s;
        }
      }

      .dates {
        letter-spacing: 5px;
      }
    }

    /* compétences */
    #competences {
      i {
        @include icon;
      }
    }

    /* projets */
    #projets {
      background: url(./images/ordinateur.jpg);
      background-position: center;
      background-size: cover;
      height: 100vh;

      @media screen and (max-width: 992px) {
        height: 70vh;
      }
    }

    #aperçusProjets {
      img {
        width: 95%;
        transform: scale(1);
        transition: 0.4s;
        z-index: 0;
        filter: none;
        border: 3px solid $secondColor;
        border-radius: 10px;

        &:hover {
          transform: scale(1.1);
          transition: 0.6s;
          z-index: 10;
        }
      }

      h1 {
        justify-content: center !important;
        font-size: 2.6em;

        @media screen and (max-width: 767px) {
          font-size: 1.4em;
        }
      }

      h2 {
        @media screen and (max-width: 1200px) {
          font-size: 1.2rem;
        }
      }

      .carousel-indicators {
        @media screen and (min-width: 768px){
          width: 50%;
          margin: auto
        }
      }

      .modal-footer a,
      .modal-footer button {
        @include button2;
      }

      .mysql {
        @include icon;

        width: 3em;
        color: $mainColor;
        border: none;

        &:hover {
          transform: none !important;
        }
      }

      ul {
        list-style: square;
      }
    }

    /* technos grande image */
    #technos {
      background-image: url(./images/workspace.jpg);
      background-position: center;
      background-size: cover;
      height: 100vh;
      border: 5vw solid $mainColor;
    }

    #logosTechnos {
      i,
      #mysql {
        @include icon;
      }

      #mysql {
        width: 5em;
        color: $mainColor;
      }
    }
    /* contact */

    #contact {
      background-image: url(./images/photo_large.jpeg);
      background-position: center;
      background-size: cover;
      height: 100vh;

      i {
        @include icon;
      }

      #textesContactRow {
        margin: auto 0;
      }

      #textesContact {
        background-color: rgba(98, 102, 144, 0.5);
        // background-color: rgba(13, 24, 115, 0.5);
        font-size: 20px;
      }
    }
  }
}
